#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

VERSION ?= $(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+\+[0-9.]+)[-+].*$$/\1/p')

%:
	dh $@ --with dkms

override_dh_auto_build:
	dh_auto_build --buildsystem=makefile -Dutility

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_installdirs:
	dh_installdirs
	mkdir -p debian/tmp/usr/bin

override_dh_auto_install:
	dh_auto_install --buildsystem=makefile -Dutility
	dh_install -pmxser-dkms -X.o -X.ko driver/ usr/src/mxser-$(VERSION)
	dh_install -pmxser-dkms dkms/Makefile usr/src/mxser-$(VERSION)

override_dh_dkms:
	dh_dkms -V
